@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0fdfa; /* bg-teal-50 */
}
.dark body {
  background-color: #111827; /* dark:bg-gray-900 */
}

/* Custom scrollbar for a more app-like feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
